* {
    margin: 0;
    padding: 0;
}

:root {
    --blue-500: #0ea5e9;
    --blue-50: #f0f9ff;
    --light-grey: rgb(150, 150, 150);
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 350px auto;
    grid-template-rows: 200px auto;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: var(--blue-500);
    display: grid;
    grid-template-rows: 35px 210px 105px;
    gap: 3em;
    padding-top: 2em;
    padding-left: 2em;
    color: white;
}

.sidebarHeader,
.sidebarNavigationGroup,
.sidebarBrandingGroup {
    display: grid;
    grid-template-columns: 35px auto;
    grid-template-rows: 35px;
}

.headerIcon {
    height: 35px;
    width: 35px;
    filter: invert(100%) sepia(5%) saturate(19%) hue-rotate(174deg) brightness(106%) contrast(105%);
}
.icons {
    height: 25px;
    width: 25px;
    filter: invert(100%) sepia(5%) saturate(19%) hue-rotate(174deg) brightness(106%) contrast(105%);
    justify-self: center;
    align-self: center;
}

.sidebarText {
    padding-left: 10px;
    align-self: center;
}


.header {
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-columns: 70% 30%;
}

.notificationIcon {
    height: 25px;
    width: 25px;
    justify-self: right;
    align-self: center;
}

.search {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
}

.searchIcon {
    height: 25px;
    width: 25px;
    justify-self: right;
}
.searchBar {
    background-color: var(--blue-50);
    border: none;
    outline: none;
    height: 25px;
    width: 90%;
    justify-self: center;
    border-radius: 20px;
    padding: 3px;
}

.profile {
    display: grid;
    grid-template-columns: 2fr 3fr 5fr;
}

.profileImg {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    justify-self: center;
    align-self: center;
}

.profileText {
    justify-self: left;
    align-self: center;
    font-weight: bold;
}

.accountDetails {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 2fr 3fr;
}

.accountImg {
    height: 80px;
    width: 80px;
    grid-row: 1 / 3;
    justify-self: right;
    align-self: center;
}

.accountGreeting {
    align-self: flex-end;
    font-weight: bold;
}

.accountName {
    font-weight: bold;
    font-size: 1.5em;
}

.headerButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.headerBtn {
    color: white;
    font-weight: bold;
    background-color: var(--blue-500);
    height: 30px;
    border: none;
    border-radius: 20px;
    width: 80px;
}



.main {
    background-color: var(--blue-50);
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 600px 500px;
}

#projects {
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 30px repeat(6, min(200px));
    padding: 25px 20px;
    gap: 10px;
}

#projects > h2 {
    grid-column: 1 / -1;
}

.project {
    background-color: white;
    border-radius: 10px;
    border-left: 8px solid var(--blue-500);
    display: grid;
    grid-template-rows: 5fr 1fr;
}

.projectText {
    padding: 20px 10px;
    overflow-y: hidden;
}

.projectText > p {
    color: var(--light-grey);
}

.projectIcons {
    display: flex;
    justify-content: right;
    gap: 5px;
    padding-right: 10px;
}

.projectIcons > img {
    height: 20px;
    width: 20px;
}

.announcments {
    display: grid;
    padding-top: 25px;
    grid-template-rows: 30px 500px;
    gap: 8px;
}

.announcmentContainer {
    background-color: white;
    border-radius: 10px;
    padding: 20px 15px 15px 15px;
    gap: 10px;
    display: grid;
}

.announcment {
    border-bottom: 1px solid var(--light-grey);
    overflow-y: hidden;
    padding-bottom: 5px;
}
.announcment > p {
    color: var(--light-grey);
}